<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found! - SkillShare</title>
    <link rel="stylesheet" href="/style/globalStyles.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href = "/createSkillRequest">Make a request</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">User Page</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>
    <main>
        <div>
            <h2>404 Page Not Found</h2>
            <p>The page you have requested is missing or doesnt exist</p>
            <p>Please check you have typed the url correctly</p>
        </div>
    </main>
</body>
</html>