<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
<!--    <script type="text/javascript" href="static/js/login.js"></script>-->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
    <img class="onslogo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg">
    <div class="form">
        <form class="register-form" onsubmit="return false;">
            <input id="register_email" type="text" placeholder="email address"/>
            <input id="register_username" type="username" placeholder="username"/>
            <input id="register_password" type="password" placeholder="password"/>
            <input id="register_matching_password" type="password" placeholder="confirm password"/>
            <button onclick="saveNewUser()">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post" th:action="@{/login}">
            <input name="username" type="text" placeholder="Username"/>
            <input name="password" type="password" placeholder="Password"/>
            <button type="submit" value="Sign In">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    </div>
</div>
<!-- partial -->
<!--<script-->
<!--        src="https://code.jquery.com/jquery-2.2.4.min.js"-->
<!--        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="-->
<!--        crossorigin="anonymous"></script>-->

<script src="js/login.js"></script>

</body>
</html>