<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sixteens/8bf0290/css/main.css">
    <link rel="stylesheet" href="/style/globalStyles.css"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/skill_edit_page.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="header col-wrap">
        <div class="col col--lg-one-third col--md-one-third">
            <a href="/">
                <!--[if lte IE 8]>
                <img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.png"
                     alt="Office for National Statistics">
                <![endif]-->
                <!--[if gte IE 9]><!-->
                <img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg"
                     alt="Office for National Statistics">
                <!--[endif]---->
            </a>
        </div>
        <div class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide">
            <ul class="secondary-nav__list js-nav-clone__list">
                <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                    <input class="btn btn--primary" type="submit" value="Sign Out"/>
                </form>
            </ul>
        </div>
    </div>
</div>
<div class="primary-nav print--hide">
    <nav>
        <div class="wrapper nav-main--hidden" id="nav-primary" aria-expanded="false">
            <ul class="primary-nav__list">
                <li class="primary-nav__item primary-nav__item--active js-nav hide--sm old-ie--display-block"><a
                        class="primary-nav__link col col--md-7 col--lg-10" href="/">Home</a></li>
                <li class="primary-nav__item js-nav js-expandable">
                    <a class="primary-nav__link col col--md-8 col--lg-10" href="/createSkillRequest"
                       aria-haspopup="true">Make a request</a>
                </li>
                <li class="primary-nav__item js-nav js-expandable">
                    <a class="primary-nav__link col col--md-8 col--lg-10" href="/user"
                       aria-haspopup="true">User Page</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

    <main>
        <h2>Edit Skill Page</h2>
        <form>
            <div class="form-section">
                <label class="block margin-bottom--1">Skill Name</label>
                <input type="text" class="search__input" id = "editSkillName" th:value="${editingSkill.getName()}" placeholder="Skill name here...">
            </div>
            <div class="form-section">
                <label class="block margin-bottom--1">Skill Description</label>
                <textarea class="search__input" id="editSkillDescription" style="height: 150px;" th:text="${editingSkill.getDescription()}" placeholder="Skill description here..."></textarea>
            </div>
            <div id = "allParentSkills" class="form-section">
                <label class="block margin-bottom--1">Parent Skills</label>
                <button onclick="AddParent()" type="button" class="btn btn-outline-success my-2 my-sm-0">Add a new Parent</button>
                <br>
                <div id="parentSkills" th:each = "skill : ${editingSkill.getParentSkills()}">
                    <input type="text" list="listOfSkills" th:value="${skill.getName()}" class="parentSkillSelector search__input">
                    <button onclick="deleteParent(this)" type="button" class="btn btn--secondary">Delete Parent</button>
                </div>
                <datalist id="listOfSkills">
                    <option th:each="selectionSkill:${allSkills}" th:text="${selectionSkill.getName()}"></option>
                </datalist>
            </div>
            <div class = "form-section">
                <span class="input-group-btn span">
                    <button th:onclick="'javascript:submitSkillEdit(' + ${editingSkill.getId()} + ')'" type="button" class="btn btn-outline-success my-2 my-sm-0">Save Skill</button>
                </span>
            </div>
        </form>
    </main>
</body>
</html>