<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/globalStyles.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href = "/createSkillRequest">Make a request</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">User Page</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>
<h2>Add a skill</h2>
<form action="#"  method="post">


    <div id="userSkill" th:each = "skill : ${userDetails.getUserSkills()}">
        <label>Skill Name:  </label><input type="text" list="listOfSkills" th:value="${skill.getName()}" class="parentSkillSelector">
        <label>Skill level:  </label><input type="text" class = "skillLevels"/>
        <label>Skill Privacy:  </label><input type="checkbox" class = "userSkillPrivacy" />
        <button onclick="deleteSkill(this)" type="button" class="btn btn-outline-success my-2 my-sm-0">Delete Skill</button>
    </div>



    <datalist id="listOfSkills">
        <option th:each="selectionSkill:${allSkills}" th:text="${selectionSkill.getName()}"></option>
    </datalist>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>