*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2D283E;
}

main{
    font-family: 'Alatsi', sans-serif;
    padding: 2%;
    background-color: #2D283E;
    border-radius: 1%;
    font-weight: bold;

}

a:link{
    color:#802BB1;
}

a:hover{
    color: #D1D7E0;
}
a:visited:hover{
    color: #D1D7E0;
}

a:visited{
    color: #802BB1;
}
h2{
    font-size: 50px!important;
    font-weight: bold!important;
}
h2,th,label,h3,p,.btn{
    color: white;
}
.btn-outline-success {
    border-color: #802BB1!important;
}
.btn-outline-success:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #802BB1!important;
    background-color: #D1D7E0!important;
    color: #802BB1;
}
span{
    color: #D1D7E0;
}
/*input[type=text]{*/
/*    background-color: #FBF3FF!important;*/
/*}*/
th{
    border-color: #D1D7E0 !important;
    border-width:2px !important;

}

textarea{
    resize: none;
}

.error{
    color:red;
}

#editButton{
    margin-top: 100px!important;
    margin-right: 100px;
    position:absolute;
    top:0;
    right:0;
}
